<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cantext="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- 将mvc层扫描到IOC容器中 -->
  <cantext:component-scan base-package="com.diu.crowd.mvc"/>

  <!-- 启动springmvc注解驱动 -->
  <mvc:annotation-driven/>

  <!--  -->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!-- 前缀：附加到逻辑视图名称前 -->
    <property name="prefix" value="/WEB-INF/"/>

    <!-- 后缀：附加到逻辑视图名称后 -->
    <property name="suffix" value=".jsp"/>
  </bean>

  <!-- 基于xml的异常处理器类 -->
  <bean id="simpleMappingExceptionResolver"
        class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <!-- 配置异常类型和具体的视图异常的关系 -->
    <property name="exceptionMappings">
      <props>
        <!--
          key 对应着异常类型全类名
          value 对应着具体的视图异常名
        -->
        <prop key="java.lang.Exception">system-error</prop>
        <prop key="com.diu.crowd.exception.AccessForbiddenException">admin-login</prop>
      </props>
    </property>
  </bean>

  <!--
    简化没有业务工作的接口
  -->
  <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login"/>

  <mvc:view-controller path="/admin/to/main/page.html" view-name="admin-main"/>

  <mvc:view-controller path="/admin/to/add/page.html" view-name="admin-add"/>

  <mvc:view-controller path="/role/to/page.html" view-name="role-page"/>

  <mvc:view-controller path="/menu/to/permission.html" view-name="menu-page"/>

  <mvc:interceptors>
    <mvc:interceptor>
      <!-- mvc:mapping 配置要拦截的资源 -->
      <!-- /*对应一层路径，比如：/aaa -->
      <!-- /**对应多层路径，比如：/aaa/bbb 或/aaa/bbb/ccc 或/aaa/bbb/ccc/ddd -->
      <mvc:mapping path="/**"/>

      <!-- mvc:exclude-mapping 配置不拦截的资源 -->
      <mvc:exclude-mapping path="/admin/do/admin-login.html"/>
      <!-- 前往登陆页面 -->
      <mvc:exclude-mapping path="/admin/to/login/page.html"/>
      <mvc:exclude-mapping path="/admin/do/logout.html"/>

      <!-- 配置拦截器类 -->
      <bean class="com.diu.crowd.mvc.interceptor.LoginInterceptor"/>
    </mvc:interceptor>
  </mvc:interceptors>

</beans>